{% extends 'base.html' %}
{% load profileFilter %}
{% block head %}
<title>MauPromosi | Ubah Profil {{ user.name }} (@{{ user.username }})</title>
<style>
    #profile-info {
        display: flex;
    }
    #profile-img {
        width: 75%;
    }
    #profile-picture {
        padding: 5%;
        width: 50%;
    }
    #profile-desc {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 5%;
    }
    #editprofile-form {
        display: flex;
        flex-direction: column;
    }
    #editprofile-form > .container {
        margin-bottom: 2%;
    }
    .form-text, .input-field {
        width: 100%;
    }
    #id-submit {
        background-color: #FF8600;
        color: #F1F2F6;
        padding: 1%;
        padding-left: 5%;
        padding-right: 5%;
        float: right;
    }
    .error {
        color: red;
    }
</style>
{% endblock %}

{% block body %}
    <div id="profile-container">
        <div id="profile-info">
            <div id="profile-picture">
                {% if user.picture %}
                <img id="profile-img" src="{{ user.picture.url }}">
                {% else %}
                <img id="profile-img" src="https://www.w3schools.com/howto/img_avatar.png">
                {% endif %}
            </div>
            <div id="profile-desc">
                <div>
                    <h1>{{ user.username }}</h1>
                </div>
                <div>
                    <p>Nama: {{ user.name }}</p>
                </div>
                <div>
                    <p>Bio: {% if user.bio == '' %}-{% else %}{{ user.bio }}{% endif %}</p>
                </div>
                <div>
                    <p>E-mail: {{ user.email }}</p>
                </div>
                {% if user.instagram %}
                <div>
                    <p>Instagram: <a href="{{ user.instagram }}">{{ user.instagram }}</a></p>
                </div>
                {% endif %}
            </div>
        </div>

        <hr>
        <form method="POST" id="editprofile-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container">
                <div class="form-text">
                    <text>NAMA</text>
                </div>
                <div>
                    <input class="input-field" id="id-name" type="text" name="name" autocomplete="off" maxlength="100" required value="{{ user.name }}" autofocus>
                </div>
                {% if form.errors.name %}
                <div class='error'>{{ form.errors.name }}</div>
                {% endif %}
            </div>
            <div class="container">
                <div class="form-text">
                    <text>E-MAIL</text>
                </div>
                <div>
                    <input class="input-field" id="id-email" type="email" name="email" autocomplete="off" required maxlength="255" value="{{ user.email }}">
                </div>
                {% if form.errors.email %}
                <div class='error'>{{ form.errors.email }}</div>
                {% endif %}
            </div>
            <div class="container">
                <div class="form-text">
                    <text>URL INSTAGRAM KAMU</text>
                </div>
                <div>
                    <input class="input-field" id="id-instagram" type="url" name="instagram" autocomplete="off" required maxlength="255" value="{{ user.instagram }}">
                </div>
                {% if form.errors.instagram %}
                <div class='error'>{{ form.errors.instagram }}</div>
                {% endif %}
            </div>
            <div class="container">
                <div class="form-text">
                    <text>BIO</text>
                </div>
                <div>
                    <textarea class="input-field" type="text" name="bio" autocomplete="off" maxlength="100" required id="id-bio">{{ user.bio }}</textarea>
                    <div class="word-counter" id="counter-bio">0/100</div>
                </div>
                {% if form.errors.bio %}
                <div class='error'>{{ form.errors.bio }}</div>
                {% endif %}
            </div>
            <div class="container">
                <div class="form-text">
                    <text>GAMBAR PROFIL</text>
                </div>
                <div>
                    <input type="file" name="picture" accept="image/*" id="id-picture">
                </div>
                {% if form.errors.picture %}
                <div class='error'>{{ form.errors.picture }}</div>
                {% endif %}
            </div>
            <div class="container">
                <div id="container-submit">
                    <input id="id-submit" type="submit" value="SIMPAN">
                </div>
            </div>
        </form>
    </div>
    <script>
        $('#id-bio').keyup(function(){
            $('#counter-bio').text(this.value.length+'/100');
        })
    </script>
{% endblock %}
