<!DOCTYPE html>
<html>
<head>
<title>MauPromosi | Sign Up</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
        	body {
                background-color: #E5E5E5;
                font-family: 'Josefin Sans', sans-serif;
                word-wrap: break-word;
            }
			#signup-container {
            	display: flex;
                flex-direction: column;
            	margin-top: 5%;
                margin-left: 10%;
                margin-right: 10%;
                margin-bottom: 5%;
            	background-color: #FFF;
            	border: 2px solid black;
                border-radius: 10px;
                padding: 5%;
            }
            #signup-title {
            	display: flex;
                justify-content: center;
            }
            #signup-title > text {
            	font-size: 200%;
            }
            #hr-line {
            	width: 95%;
            }
            #signup-form {
            	display: flex;
                flex-direction: column;
            }
            #signup-form > .container {
            	margin-bottom: 5%;
            }
            .form-text, .input-field {
            	width: 100%;
            }
            #id-submit {
            	background-color: #FF8600;
            	color: #F1F2F6;
                padding: 1%;
                padding-left: 5%;
                padding-right: 5%;
                float: right;
            }
            .error {
                color: red;
            }
        </style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand mx-auto" href="{% url 'homepage' %}"><b><text style="color:black">&nbsp;&nbsp;MAU</text><text style="color:#27187E">PROMOSI</text></b></a>
	</nav>
	<div id="signup-container">
		<div id="signup-title">
			<text>SIGN UP</text>
	    </div>
	    <div>
	    	<hr id="hr-line">
	    </div>
	    <div>
			<form method="POST">
                {% csrf_token %}
            	<div id="signup-form">
                	<div class="container">
                		<div class="form-text">
	                    	<text>NAMA</text>
	                    </div>
		    			<div>
	                    	<input class="input-field" id="id-name" type="text" name="name" autocomplete="off" maxlength="100" required autofocus>
                    	</div>
                    </div>
                	<div class="container">
                		<div class="form-text">
	                    	<text>USERNAME</text>
	                    </div>
		    			<div>
	                    	<input class="input-field" id="id-username" type="text" name="username" autocomplete="off" maxlength="50" required>
                    	</div>
                        {% if form.errors.username %}
                        <div class='error'>{{ form.errors.username }}</div>
                        {% endif %}
                    </div>
                    <div class="container">
                		<div class="form-text">
	                    	<text>E-MAIL</text>
	                    </div>
		    			<div>
	                    	<input class="input-field" id="id-email" type="email" name="email" autocomplete="off" required maxlength="255">
                    	</div>
                        {% if form.errors.email %}
                        <div class='error'>{{ form.errors.email }}</div>
                        {% endif %}
                    </div>
                    <div class="container">
                		<div class="form-text">
	                    	<text>URL INSTAGRAM KAMU</text>
	                    </div>
		    			<div>
	                    	<input class="input-field" id="id-instagram" type="url" name="instagram" autocomplete="off" required maxlength="255">
                    	</div>
                        {% if form.errors.instagram %}
                        <div class='error'>{{ form.errors.instagram }}</div>
                        {% endif %}
                    </div>
                    <div class="container">
	                    <div class="form-text">
	                    	<text>PASSWORD</text>
	                    </div>
	                    <div>
	                    	<input class="input-field" id="id-password" type="password" name="password1" autocomplete="off" maxlength="200" required>
                    	</div>
                        <div>
                            <ul id="password-helptext">
                                <li>Your password can’t be too similar to your other personal information.</li>
                                <li>Your password must contain at least 8 characters.</li>
                                <li>Your password can’t be a commonly used password.</li>
                                <li>Your password can’t be entirely numeric.</li>
                            </ul>
                        </div>
                        {% if form.errors.password1 %}
                        <div class='error'>{{ form.errors.password1 }}</div>
                        {% endif %}
                        <div class="form-text">
	                    	<text>KONFIRMASI PASSWORD</text>
	                    </div>
	                    <div>
	                    	<input class="input-field" id="id-password-confirmation" type="password" name="password2" autocomplete="off" maxlength="200" required>
                    	</div>
                        {% if form.errors.password2 %}
                        <div class='error'>{{ form.errors.password2 }}</div>
                        {% endif %}
                    </div>
                    <div class="container">
	            		<div id="container-submit">
	                    	<input id="id-submit" type="submit" value="DAFTAR">
	                    </div>
                    </div>
                </div>
	    	</form>
	    </div>
	</div>
</body>
</html>
