<!DOCTYPE html>
<html>
<head>
<title>MauPromosi | Sign In</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
        	body {
                background-color: #E5E5E5;
                font-family: 'Josefin Sans', sans-serif;
                word-wrap: break-word;
            }
			#signin-container {
            	display: flex;
                flex-direction: column;
            	margin-top: 5%;
                margin-left: 10%;
                margin-right: 10%;
                margin-bottom: 5%;
            	background-color: #FFF;
            	border: 2px solid black;
                border-radius: 10px;
                padding: 5%;
            }
            #signin-title {
            	display: flex;
                justify-content: center;
            }
            #signin-title > text {
            	font-size: 200%;
            }
            #hr-line {
            	width: 95%;
            }
            #signin-form {
            	display: flex;
                flex-direction: column;
            }
            #signin-form > .container {
            	margin-bottom: 5%;
            }
            .form-text, .input-field {
            	width: 100%;
            }
            #id-submit {
            	background-color: #27187E;
            	color: white;
                padding: 2%;
                padding-left: 5%;
                padding-right: 5%;
                float: right;
            }
            .error {
                color: red;
            }
        </style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand mx-auto" href="{% url 'homepage' %}"><b><text style="color:black">&nbsp;&nbsp;MAU</text><text style="color:#27187E">PROMOSI</text></b></a>
	</nav>
	<div id="signin-container">
		<div id="signin-title">
			<text>SIGN IN</text>
	    </div>
	    <div>
	    	<hr id="hr-line">
	    </div>
	    <div>
			<form method="POST">
                {% csrf_token %}
            	<div id="signin-form">
                    {% if message %}
                    <div class="container">
                        <text class="error">{{ message }}</text>
                    </div>
                    {% endif %}
                	<div class="container">
                		<div class="form-text">
	                    	<text>USERNAME</text>
	                    </div>
		    			<div>
	                    	<input class="input-field" id="id-username" type="text" name="username" autocomplete="off" maxlength="200" required>
                    	</div>
                    </div>
                    <div class="container">
	                    <div class="form-text">
	                    	<text>PASSWORD</text>
	                    </div>
	                    <div>
	                    	<input class="input-field" id="id-password" type="password" name="password" autocomplete="off" maxlength="200" required>
                    	</div>
                    </div>
                    <div class="container">
	            		<div id="container-submit">
	                    	<input id="id-submit" type="submit" value="MASUK">
	                    </div>
                    </div>
                </div>
	    	</form>
	    </div>
	</div>
</body>
</html>
