<!DOCTYPE html>
<html>
    <head>
        <title>Processing...</title>
    </head>
    <body>
        {% if status_code.0 != 0 %}
        <script>
            alert("{{ status_code.1 }}");
        </script>
        {% endif %}
        <script>
            {% if status_code.0 == 2 %}
            window.location.href="{% url 'addPost' %}";
            {% else %}
            window.location.href="{% url 'posts' post_id=post_id %}";
            {% endif %}
        </script>
    </body>
</html>
