{% extends 'base.html' %}
{% block head %}
    <title>MauPromosi | About Us</title>
    <style>
        body {
            background-color: #E5E5E5;
            font-family: 'Josefin Sans', sans-serif;
            word-wrap: break-word;
        }

        .page-container{
            width: 100%;
            height: 300vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* background-color: coral; */
        }

        .page-container h1{
            margin-top: 5%;
        }

        .about-container{
            /* background-color: aquamarine; */
            width: 100%;
            height: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        .about-container h1{
            align-self: center;
            font-size: 50px;
            color: #27187E;
            overflow: hidden;
            white-space: nowrap;
            animation: animate 6s forwards;
        }

        @keyframes animate{
            0%{
                width: 0ch;
            }
            100%{
                width: 11ch;
            }
        }

        .about-container #about1{
            display: flex;
        }

        .about-container #about1 h4{
            padding-left: 5%;
            animation: type 3s ease-out;
        }

        .about-container #about1 h4 span{
            animation: type-span 3s ease-out;
            color: #27187E;
        }


        

        .about-container #about2{
            display: flex;
            flex-direction: row-reverse;
            text-align: right;
        }

        .about-container #about2 h4{
            padding-right: 5%;
            animation: type 3s ease-out;
        }

        .about-container #about2 h4 span{
            animation: type-span 3s ease-out;
            color: #27187E;
        }

        @keyframes type-span{
            0%{
                transform: translateY(20px);
                color: transparent;
            }

            100%{
                color: #27187E;
            }
        }

        @keyframes type{
            0%{

                transform: translateY(20px);
                color: transparent;
            }
            100%{
                color: #222222;
            }
        }

        .mission-container{
            background: linear-gradient(#E5E5E5 15%,#222222 20%);
            width: 100%;
            height: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .mission{
            padding: 5px;
        }

        .teams{
            /* background-color: darkorchid; */
            margin-top: 10%;
            height: 30%;
            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            
        }

        .teams .team{
            width: 200px;
            height: 200px;
            text-align: center;
            font-size: 20px;
        }

        .teams .team img{
            width: 100%;
            height: 100%;
        }

        @media screen and (max-width: 800px) {
            .about-container .about h4{
                font-size: 20px;
            }
            .mission h1{
                font-size: 30px;
            }
            .teams{
                height: 150vh;
            }
        }
        @media screen and (max-width: 600px) {
            .about-container h1{
                font-size: 40px;
            }
            .mission h1{
                font-size: 20px;
            }
        }

        @media screen and (max-width: 450px){
            .teams .team{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .teams .team img{
                width: 120px;
                height: 120px;
            }
            .about-container .about h4{
                font-size: 15px;
            }
            .mission h1{
                font-size: 15px;
            }
            .mission-container h3{
                font-size: 20px;
            }
            .page-container #meet{
                font-size: 20px;
            }
        }


    </style>
{% endblock head %}
{% block body %}
<div class="page-container">
    <div class="about-container">
        <h1>Tentang kami</h1>
        <div class="about" id="about1">
            <h4>Berawal dari tugas kelompok mata kuliah <span>PPW</span>,</h4>
        </div>
        <div class="about" id="about2">
            <h4>4 mahasiswa mencoba untuk membuat sebuah<br><span style="color: #27187E;">platform berbasis web</span></h4>
        </div>
    </div>
    <div class="mission-container">
        <h3 style="color: grey">Misi Kami?</h3>
        <div class="mission">
            <h1 style="color: white;">Untuk membantu para <span style="color: #FF8600;">pengusaha kecil</span> dalam<br>mempromosikan usahanya di <span style="color: #FF8600;">masa pandemi</span></h1>
        </div>
    </div>
    <h1 id="meet">Meet our team!</h1>
    <div class="teams">
        <div class="team" id="prajna">
            <img src="https://gitlab.com/naufalpramudya/maupromosi-static/-/raw/master/static/prajna.png" alt="prajna" >
            <text>Prajna</text>
        </div>
        <div class="team" id="pram">
            <img src="https://gitlab.com/naufalpramudya/maupromosi-static/-/raw/master/static/pram.png" alt="pram">
            <text>Pram</text>
        </div>
        <div class="team" id="riswanda">
            <img src="https://gitlab.com/naufalpramudya/maupromosi-static/-/raw/master/static/riswanda.png" alt="riswanda">
            <text>Riswanda</text>
        </div>
        <div class="team" id="nicky">
            <img src="https://gitlab.com/naufalpramudya/maupromosi-static/-/raw/master/static/nicky.png" alt="nicky">
            <text>Nicky</text>
        </div>
    </div>
</div>
{% endblock body %}
