{% extends 'base.html' %}
{% block head %}
    <title>MauPromosi | Feedback</title>
    <style>
        body {
            background-color: #E5E5E5;
            font-family: 'Josefin Sans', sans-serif;
            word-wrap: break-word;
        }
        table {
            border-collapse: collapse;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        td, th {
        border: 1px solid;
        text-align: left;
        padding: 8px;
        }
        .container{
        margin-top:30px; 
    }
    </style>
{% endblock head %}
{% block body %}
<div class='container'>
    <h1>Lihat Feedback untuk Mau Promosi yuk!</h1>
    <table>
        <tr>
            <th style="width: 70px;">No</th>
            <th style="width: 1000px;text-align: center;">Pesan</th>
        </tr>
        {% for pesan in feedback %}
        <tr>
            <td>{{ pesan.id }}</td>
            <td>{{ pesan.message }}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="{% url 'homepage' %}"><button type="submit" class="btn-secondary">Kembali</button></a>
</div>
{% endblock body %}
