body {
    background-color: #E5E5E5;
    font-family: 'Josefin Sans', sans-serif;
    word-wrap: break-word;
}
table {
border-collapse: collapse;
margin-top: 30px;
margin-bottom: 30px;
background-color: white;
}

td, th {
border: 1px solid;
text-align: left;
padding: 8px;
}
#saran tr:nth-child(even){background-color: #f2f2f2;}

#saran tr:hover {background-color: #ddd;}
.container{
margin-top:30px; 
}