<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <style>
            body {
                background-color: #E5E5E5;
                font-family: 'Josefin Sans', sans-serif;
                word-wrap: break-word;
            }
            .btn-signup {
                background-color: #FF8600;
                width: 100%;
            }
            .username-btn {
                margin-left: auto;
                color: black;
            }
            .footer{
                background-color: #222222;
                color:white;
                padding: 50px 10px;
            }
            .row-footer{
                display: grid;
                grid-column-gap: 50px;
                grid-template-columns: auto auto;
            }
            .btn-about{
                background-color: #758BFD;
                color: white;
                border: none;
                padding: 5px 10px;
            }
            #btn-addPost {
                position: fixed;
                bottom: 4px;
                right: 4px;
                width: 60px;
                height: 60px;
                color: white;
                background-color: #11ff00;
                font-size: 40px;
                border-radius: 50%;
                border: 0px;
            }
            .fill-width.dropdown {
                position: static;
            }
            .fill-width.dropdown > .dropdown-menu {
                left: 85%;
            }
            .dropdown-menu > .dropdown-item > a {
                white-space: normal; 
            }
            @media only screen and (max-width: 1081px) {
                .fill-width.dropdown > .dropdown-menu {
                    left: 81%;
                }
            }
        </style>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'homepage' %}"><b><text style="color:black">MAU</text><text style="color:#27187E">PROMOSI</text></b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse mx-auto navbarSupportedContent">
                <ul class="navbar-nav mx-auto" id="nav-menu">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'about' %}">About<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'catalog:katalog' %}">Catalog<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#footer">Contact<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <br>
                <ul class="navbar-nav">
                    {% if not request.user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'sign_in' %}">Sign In<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link btn-signup" style="color:white;" href="{% url 'sign_up' %}">Sign Up<span class="sr-only">(current)</span></a>
                    </li>
                    {% else %}
                    <li class="nav-item dropdown fill-width">
                        <a class="nav-link active username-btn dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Halo, {{ request.user }}<span class="sr-only">(current)</span></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <div class="dropdown-item">
                                <a class="nav-link active" href="{% url 'profile' pk=user.id %}">Lihat Profil<span class="sr-only">(current)</span></a>
                            </div>
                            <div class="dropdown-item">
                                <a class="nav-link active" href="{% url 'edit_profile' %}">Ubah Profil<span class="sr-only">(current)</span></a>
                            </div>
                            <div class="dropdown-item">
                                <a class="nav-link active" href="{% url 'edit_password' %}">Ubah Password<span class="sr-only">(current)</span></a>
                            </div>
                            <div class="dropdown-item">
                                <a class="nav-link active" href="{% url 'sign_out' %}">Sign Out<span class="sr-only">(current)</span></a>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% block body %}
        {% endblock %}
        {% if request.user.is_authenticated %}
        <button id="btn-addPost" onclick="location.href='{% url 'addPost' %}'">+</button>
        {% endif %}
        {% include 'footer.html' %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
