<div class="footer" id="footer">
    <div class="container">
        <div class="row-footer">
            <div>
                <h1>Tentang Kami</h1>
                <p>Pelajari lebih lanjut tentang tim kami</p>
                <a href="{% url 'about' %}"><button class="btn-about" >Learn More</button></a>
            </div>    
            <div>
                <h1>Follow Us</h1>
                    <a href="" style="color:white"><p><i class="fa fa-instagram" style="font-size:24px"></i> Instagram</p></a>
                </div>  
        </div>
    </div>
</div>
<center>Copyright &#169; 2020. All Rights Reserved.</center>
